@font-face{
	font-family:'NimbusSanL';
	src:url('../assets/fonts/NimbusSanL-Reg.otf') format('otf');
	font-weight:normal;
	font-style:normal;
}
@font-face{
	font-family:'NimbusSanL-Bold';
	src:url('../assets/fonts/NimbusSanL-Bol.otf') format('otf');
	font-weight: bold;
	font-style:normal;
}
@font-face{
	font-family: 'NimbusSanL-BoldIta';
	src:url('../assets/fonts/NimbusSanL-BoldIta.otf');
	font-style:italic;
	font-weight: bold;
}
@font-face{
	font-family: 'NimbusSanL-Ita';
	src:url('../assets/fonts/NimbusSanL-Ita.otf') format('otf');
	font-style: italic;
	font-weight: normal;
}
@font-face{
	font-family: 'Tungsten-Bold';
	src:url('../assets/fonts/Tungsten-Bold.tff') format('ttf');
	font-style:normal;
	font-weight:bold;
}
body,html{
	overflow-x:hidden !important;
	font-family:'NimbusSanL',sans-serif;
}
h1,h2{
	font-family:'Tungsten-Bold',sans-serif !important;
	font-weight:900;
	color:#131E29;;
}
h3,h4,h5,h6{
	font-family:'NimbusSanL-Bold', sans-serif;
	font-weight:bold;
	color:#000;
}