/* -------------------------------------
5. Banner
--------------------------------------- */

.banner-section {
    overflow: hidden;

    .owl-nav {
        background: $theme-color;
        position  : absolute;
        width     : 305px;
        height    : 305px;
        @include border-radius(50%);
        left: -12%;
        top : 80%;

        @include desktop {
            left: -8%;
        }

        @include notebook {
            display: none;
        }

        @include tablet {
            display: none;
        }

        @include mobile {
            display: none;
        }

        >button {
            width    : 39px;
            height   : 39px;
            display  : inline-table;
            position : absolute;
            left     : 62%;
            top      : 35%;
            transform: translate(-50%, -50%);
            @include border-radius(50%);
            border    : 2px solid $brand-white !important;
            text-align: center;

            i {
                color    : $brand-white;
                font-size: 18px;
                position : relative;
                top      : 3px;
            }

            &.owl-next {
                left: 80%;
            }
        }
    }

    .single-slide {
        background           : $brand-blue;
        padding-top          : 50px;
        background-position  : center center;
        background-size      : cover;
        background-repeat    : no-repeat;
        background-blend-mode: multiply;

        .slide-img {
            max-width: 85%;
        }

        @include tablet {
            padding: 75px 0;

            .slide-img {
                position: relative;
                top     : 75px;
            }
        }

        @include mobile {
            padding: 170px 0 70px;
        }
    }

}

.slide-txt {
    overflow: hidden;

    >span {
        font-size  : 25px;
        font-weight: 500;
        font-family: $heading-font;
        display    : block;
    }

    h1 {
        font-size  : 110px;
        line-height: 1;
        margin     : 15px 0;
        color      : $brand-white;

        span {
            color   : $theme-color;
            position: relative;
            left    : -25px;
            top     : 0;
        }
    }

    p {
        font-size: 18px;
        margin   : 30px 0 45px;
    }

    span,
    p {
        color: $brand-white;
    }

    @include notebook {
        h1 {
            font-size: 85px;
        }

        p {
            font-size: 17px;
        }
    }

    @include tablet {
        h1 {
            font-size: 65px;

            span {
                left: -10px;
            }
        }

        p {
            font-size: 16px;
        }
    }

    @include mobile {
        h1 {
            font-size: 65px;

            span {
                left: -10px;
            }
        }

        p {
            font-size: 16px;
        }
    }

    @include wide_mobile {
        h1 {
            font-size: 55px;
        }
    }
}

/* Banner 2 CSS */

.home-slide-2 {
    background: $brand-blue;

    &.owl-carousel .owl-item img {
        display: block;
        width  : auto;
    }

    .single-slide {
        justify-content: center;
        align-items    : center;
        padding        : 100px 0;
        position       : relative;

        .slide-bg {
            position           : absolute;
            left               : 0;
            top                : 0;
            height             : 100%;
            width              : 15%;
            z-index            : 1;
            background-size    : contain;
            background-repeat  : no-repeat;
            background-position: left top;

            &.sb-2 {
                left               : auto;
                top                : auto;
                bottom             : 0;
                right              : 0;
                background-position: bottom right;

            }
        }

        .slide-txt {
            @extend .slide-txt;
            text-align: right;

            h1 {
                font-size: 110px;
            }
        }

    }

    .slide-img {
        padding : 50px;
        position: relative;
        z-index : 1;

        .anim-item {
            position : absolute;
            right    : 0;
            top      : 0px;
            animation: jumping 5s ease-in-out 2s infinite alternate;

            &.anim-item2 {
                top  : 80%;
                right: auto;
                left : 0;
            }
        }
    }

    @include notebook {
        .single-slide {
            .slide-txt {
                h1 {
                    font-size: 80px
                }
            }
        }
    }

    @include tablet {
        .single-slide {
            .slide-txt {
                >span {
                    font-size: 22px;
                }

                h1 {
                    font-size: 55px
                }

                p {
                    font-size: 16px
                }

                .custom-btn {
                    padding: 15px 28px;
                }
            }
        }
    }

    @include mobile {
        padding-top: 170px;

        .single-slide {
            padding: 80px 0;

            .slide-txt {
                text-align: center;

                >span {
                    font-size: 22px;
                }

                h1 {
                    font-size: 55px
                }

                p {
                    font-size: 16px
                }

                .custom-btn {
                    padding: 15px 28px;
                }
            }
        }
    }
}

/* Video Banner CSS */

.video-banner {
    @extend .overly;
    padding: 280px 0 220px;

    &::before {
        width                     : 85%;
        border-bottom-right-radius: 30px;
    }

    &::after {
        position  : absolute;
        content   : "";
        left      : -5%;
        bottom    : 30px;
        width     : 73%;
        height    : 100%;
        background: url('../images/home3-graphics.png')no-repeat left bottom / contain;
        z-index   : -1;
    }

    .slide-txt {
        max-width: 90%;

        .banner-title {
            font-size: 72px;

            span {
                left: 0;
            }
        }

        form {
            position: relative;

            input {
                padding: 20px;
                @extend .round10;
                padding-left: 50px;
                color       : #c5d2da;

                &::placeholder {
                    color: #c5d2da;
                }
            }

            .custom-btn {
                right        : 10px;
                top          : 9px;
                padding      : 12px 23px;
                font-size    : 16px;
                font-weight  : 400;
                border-radius: 10px;
                box-shadow   : none;
                position     : absolute;
            }

            span.input-icon {
                position : absolute;
                left     : 20px;
                top      : 23px;
                z-index  : 2;
                color    : #c5d2da;
                font-size: 22px;
            }
        }
    }

    .slide-img {
        position: relative;
        left    : 80px;

        img {
            @include border-radius(20px);
        }

        .video-meta {
            position: absolute;
            top     : 88%;
            left    : 20%;
            width   : 90%;

            >div {
                float: left;
            }

            .video-icon {
                width        : 130px;
                height       : 123px;
                text-align   : center;
                display      : table;
                border-radius: 10px;
                margin-right : 50px;
                @extend .overly;

                &::before {
                    background: $brand-white;
                    @extend .round10;
                    -webkit-animation: rotating 12s linear infinite;
                }

                a {
                    display       : table-cell;
                    vertical-align: middle;
                    color         : $theme-color;
                    font-size     : 55px;
                }
            }

            .success-stat {
                position        : relative;
                padding         : 30px 30px 10px;
                background-color: $brand-white;
                transform       : rotate(10deg);
                margin-top      : -80px;
                @extend .shadow;
                @extend .round10;

                .stat-shape {
                    background     : linear-gradient(to bottom, #16556f, #ef462f);
                    border-radius  : 80px;
                    color          : $color;
                    display        : inline-block;
                    font-size      : 20px;
                    text-decoration: none;
                    width          : 190px;
                    height         : 190px;
                    position       : relative;
                    border-radius  : 50%;
                    text-align     : center;
                    line-height    : 180px;
                    display        : table-cell;
                    vertical-align : middle;
                    left           : 5px;

                    p {
                        display      : block;
                        position     : absolute;
                        background   : $brand-white;
                        left         : 50%;
                        top          : 50%;
                        transform    : translate(-50%, -50%);
                        width        : 85%;
                        height       : 85%;
                        border-radius: 50%;
                        font-size    : 40px;
                        font-family  : $heading-font;
                        font-weight  : 700;
                    }
                }

                >p {
                    margin-top : 15px;
                    line-height: 1;
                    color      : #8b9498;
                    font-weight: 600;
                }
            }
        }
    }

    @include desktop {
        &::before {
            width: 75.2%;
        }

        &::after {
            background: url(../images/home3-graphics.png) no-repeat 0px 100%;
            left      : -2%;
            width     : 100%;
        }

        .slide-img {
            left : 145px;
            width: 115.5%;
        }

        .anim-2 {
            right: 0;
            top  : 30%;
        }
    }

    @include notebook {
        &::before {
            width: 100%;
        }

        .slide-txt .banner-title {
            font-size: 62px;
        }

        .slide-img {
            .video-meta {
                position: absolute;
                left    : 5%;

                .success-stat {
                    width     : 55%;
                    text-align: center;

                    .stat-shape {
                        width      : 160px;
                        height     : 160px;
                        line-height: 150px;
                    }
                }

                .video-icon {
                    width       : 105px;
                    height      : 105px;
                    margin-right: 50px;
                }
            }
        }
    }

    @include tablet {
        padding: 250px 0 150px;

        &::before {
            width: 100%;
        }

        .slide-txt {
            .banner-title {
                font-size: 45px;
            }

            p {
                font-size: 15px;
            }

            form {
                span.input-icon {
                    top: 18px;
                }

                input {
                    padding     : 16px;
                    padding-left: 50px;
                }

                .custom-btn {
                    right: 10px;
                    top  : 7.2px;
                }
            }
        }

        .slide-img {
            left: 0;

            .video-meta {
                top : 82%;
                left: 35%;

                .success-stat {
                    display: none;
                }

                .video-icon {
                    width       : 105px;
                    height      : 105px;
                    margin-right: 50px;
                }
            }
        }
    }

    @include mobile {
        padding-bottom: 150px;

        &::before {
            width: 100%;
        }

        &::after {
            background-size: contain;
            width          : 100%;
            left           : -9%;
        }

        .slide-txt {
            max-width: 100%;

            .banner-title {
                font-size: 46px;
            }

            form .custom-btn {
                right: 8px;
            }
        }

        .slide-img {
            left  : 0px;
            margin: 0 0 100px;

            .video-meta {
                left: 30%;
                top : 82%;

                .success-stat {
                    display: none;
                }
            }
        }
    }

    @include wide_mobile {
        .slide-img {
            margin-bottom: 150px;

            .video-meta {
                left: 20%;
                top : 85%;

                .success-stat {
                    display: block;
                }
            }
        }
    }
}

// Banner 4 CSS
.banner-4 {
    padding              : 200px 0;
    background           : #00415D;
    background-blend-mode: multiply;
    background-size      : cover;
    background-position  : center center;
    background-repeat    : no-repeat;
    position             : relative;

    &::before {
        display: none;
    }

    .slide-txt {
        h1 {
            font-size: 72px;

            @include tablet {
                font-size: 50px;
            }

            @include mobile {
                font-size : 48px;
                margin-top: 20px;
            }
        }
    }

    .banner-cta {
        @extend .service-cta;

        .video-block {
            position: relative;
            z-index : 1;

            span.cc {
                position   : absolute;
                left       : 85px;
                top        : 17px;
                display    : block;
                width      : 160px;
                font-weight: 600;
            }

            .waves {
                background: #707070;
            }

            @include mobile {
                display: none;
            }
        }
    }

    @include tablet {
        .video-block {
            margin: 35px auto 15px 25px !important;
        }
    }

    @include mobile {
        padding-top: 250px;
    }
}

// Slider 5

.slide-5 {

    .slide-item {
        background-position: center center;
        background-size    : cover;
        padding            : 300px 0 110px;
        @extend .overly;

        &::before {
            background: rgb(0, 0, 0);
            background: linear-gradient(0deg, rgba(0, 0, 0, 0.9251050762101716) 0%, rgba(0, 65, 93, 0.009138689655549759) 100%);
        }

        &::after {
            background: url('../images/graphic.png')no-repeat top right;
            content   : "";
            position  : absolute;
            right     : -11%;
            top       : -5%;
            width     : 40%;
            height    : 100%;

            @include tablet {
                right: -22%;
                width: 55%;
            }
        }

        .slide-content {
            text-align: center;
            max-width : 76%;
            margin    : 0 auto;
            @extend .overly;

            &::before {
                background: url('../images/graphic-b5.png') no-repeat left bottom;
                height    : 309px;
                width     : 258px;
                top       : 58%;
                left      : -16%;
            }

            h1 {
                font-size: 72px;
                margin   : 40px 0 20px;
                color    : $brand-white;
                @include xl-device{
                    font-size: 60px;
                }
            }

            p {
                font-size  : 18px;
                max-width  : 72%;
                margin     : 0 auto 35px;
                color      : $brand-white;
                line-height: 28px;
            }

            @include tablet {
                max-width: 85%;
                &::before {
                    left: -18%;
                    top : 66%;
                }

                h1 {
                    font-size: 50px;
                }
            }
        }

        .video-block {
            max-width : 215px;
            margin    : 0 auto;
            text-align: center;

            .waves {
                right           : 7px;
                bottom          : 21px;
                background-color: rgba($color: $brand-white, $alpha: .3);
            }

            span {
                font-size  : 30px;
                font-weight: 500;
                color      : $brand-white;
            }
        }

        a.video.venobox.vbox-item {
            margin: 0 auto 50px;
        }

        @include mobile {
            padding: 250px 0 75px;

            .slide-content {
                max-width: 100%;

                h1 {
                    font-size: 30px;
                }

                p {
                    max-width: 91%;
                }

                &::before {
                    display: none;
                }
            }

            .video-block span {
                font-size: 20px;
            }

        }
        @include tablet{
            padding: 150px 0 100px;
        }
    }
   
    .owl-dots {
        position: absolute;
        right   : 20px;
        bottom  : 50%;

        .owl-dot {
            display: block;

            span {
                width     : 10px;
                height    : 10px;
                margin    : 0 0 20px;
                background: $brand-white;
                @extend .overly;

                &::before {
                    width           : 20px;
                    height          : 20px;
                    background-color: transparent;
                    border          : 2px solid $brand-white;
                    @include border-radius(50%);
                    left     : 50%;
                    top      : 50%;
                    transform: translate(-50%, -50%);
                    padding  : 5px;
                    @include opacity(0);
                }
            }

            &.active {
                span::before {

                    @include opacity(1);
                }
            }
        }
    }
}