/* -------------------------------------
20.1 Shop Sidebar
--------------------------------------- */
.sidebar {
    padding-left: 40px;

    &.left-sidebar {
        padding: 0 40px 0 0;
    }

    @include notebook {
        padding-left: 20px;
    }

    @include tablet {
        padding-left: 0;
    }

    @include mobile {
        padding-left: 0;
        margin-top: 50px;
    }
}

.main-content .sidebar {
    @include tablet {
        margin-top: 60px;
    }
}

.widget {
    margin-bottom: 40px;

    .widget-title {
        font-size: 28px;
        margin-bottom: 30px;

        &.full {
            background: $theme-color;
            color: $brand-white;
            padding: 15px 30px;
        }
    }

    ul {
        @include list-clear;

        li {
            display: block;
            margin-bottom: 2px;

            a {
                display: block;
                padding: 13px 40px;
                background-color: #f6f6f6;
                @extend .overly;

                &::before {
                    width: 0px;
                    height: 2px;
                    top: 50%;
                    left: 40px;
                    transform: translateY(-50%);
                    background-color: $theme-color;
                    @include opacity(0);
                    @include transition();
                }

                &:hover {
                    padding-left: 45px;
                    color: $theme-color;

                    &::before {
                        left: 30px;
                        @include opacity(1);
                        width: 10px;
                    }
                }
                span{
                    float: right;
                }
            }
        }
    }

    &.link-widget {
        li {
            background: #f6f6f6;
            display: block;
            margin-bottom: 2px;
            font-size: 18px;

            a {
                display: inline-block;
                padding: 15px 40px;
            }

            @extend .overly;

            &::before {
                width: 6px;
                background-color: $theme-color;
                @include opacity(0);
                @include transition();
                height: 0;
            }

            &:hover::before,
            &.active::before {
                @include opacity(1);
                height: 100%;
            }
        }
    }

    .social-contact {
        margin-top: 10px;

        p {
            color: $brand-blue;

            i {
                color: $theme-color;
                font-size: 22px;
                position: relative;
                top: 6px;
                margin-right: 10px;
            }
        }
    }

    &.brochur-widget {
        p {
            margin-bottom: 35px;
        }

        .custom-btn {
            padding: 15px;

            img {
                margin-right: 5px;
            }

            &:last-child {
                background: $brand-blue;
                margin-top: 20px;
            }
        }
    }

    &.search-widget {
        background: transparent;
        margin-bottom: 30px;

        form {
            position: relative;

            input {
                width: 100%;
                padding: 14px 20px;
                border: 0;
                border: 1px solid #ebebeb;
                color: #b7b7b7;
                @include border-radius(5px);

                &::placeholder {
                    color: #b7b7b7;
                    @include opacity(1);
                }
            }

            button {
                position: absolute;
                right: 0px;
                top: 0px;
                height: 100%;
                width: 72px;
                line-height: 52px;
                background: $theme-color;
                border: 0;
                @include border-radius(5px);

                i {
                    position: relative;
                    top: 2px;

                    &::before {
                        color: $brand-white;
                    }
                }
            }
        }
    }

    &.recent-post {
        background: $brand-white;
    }

    &.tag-widget {
        .tagclouds {
            a {
                display: inline-block;
                font-size: 14px;
                font-family: $font;
                font-weight: 500;
                line-height: 1;
                color: $color;
                border-radius: 30px;
                padding: 10px 25px;
                margin: 5px 5px 5px 0px;
                text-transform: capitalize;
                background: #f6f6f6;

                &:hover {
                    background: $theme-color;
                    color: $brand-white;
                }
            }
        }
    }

    &.recent-post {
        .single-feature {
            margin-bottom: 25px;
            @include clear;

            .figure-thumb {
                float: left;
                overflow: hidden;

                img {
                    transform: scale(1);
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                }
            }

            .sf-text {
                margin-left: 95px;

                h4 {
                    font-size: 18px;
                    margin-bottom: 5px;
                    line-height: 20px;
                    font-weight: 600;

                    a {
                        color: $color;
                    }

                    &:hover a {
                        color: $theme-color;
                    }
                }

                .sf-meta {
                    a {
                        margin-right: 10px;
                        font-size: 14px;
                        color: #979797;

                        &:hover {
                            color: $theme-color;
                        }
                    }
                }
            }

            &:hover img {
                -webkit-transform: rotate(5deg) scale(1.1);
                transform: rotate(5deg) scale(1.1);
            }
        }
    }

    @include tablet {
        .widget-title {
            font-size: 22px;
        }

        &.link-widget li a {
            padding: 12px 20px;
            font-size: 16px;
        }
    }
}