$font: 'Poppins', sans-serif;
$heading-font: 'Fira Sans', sans-serif;
// Color Variables
$color: #455359;
$theme-color: #f4462f;
$brand-blue: #00415D;
$brand-black: #000;
$brand-white: #fff;
$brand-light: #7e8283;
$border-color: #dddddd;
$background-bg: #f6f9ff; 
